.button{
   margin-bottom: 15px;
   background-color: #c2fbd7;
   border-radius: 9px;
   box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
   color: green;
   cursor: pointer;
   display: inline-block;
   font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
   padding: 7px 20px;
   text-align: center;
   text-decoration: none;
   transition: all 250ms;
   border: 0;
   font-size: 16px;
   user-select: none;
   -webkit-user-select: none;
   touch-action: manipulation;
}

.button:hover{
   box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,
   rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
   transform: scale(1.05) rotate(-1deg);
}

.button:disabled{
   background-color: #cbc9c9;
   color: #727272;
   box-shadow: none;
   cursor:auto;
   opacity: 0.5;
}

.button:disabled:hover{
   box-shadow: none;
   transform: none;
}

.red {
   background-color: #f1859e;
   box-shadow: rgba(183, 32, 72, 0.2) 0 -25px 18px -14px inset, rgba(192, 38, 79, 0.2) 0 1px 2px, rgba(194, 38, 80, 0.2) 0 2px 4px, rgba(178, 35, 73, 0.2) 0 4px 8px,
   rgba(178, 35, 73, 0.2) 0 8px 16px, rgba(178, 35, 73, 0.2) 0 16px 32px;
   color: #a2031d;
}

.red:hover {
   box-shadow: rgba(178, 35, 73, 0.2) 0 -25px 18px -14px inset, rgba(178, 35, 73, 0.2) 0 1px 2px, rgba(178, 35, 73, 0.2) 0 2px 4px, rgba(178, 35, 73, 0.2) 0 4px 8px,
   rgba(178, 35, 73, 0.2) 0 8px 16px, rgba(178, 35, 73, 0.2) 0 16px 32px;
}

